<!DOCTYPE html>
<html lang="en"
      layout:decorate="template"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link href="/webjars/bootstrap/5.3.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div layout:fragment="content">
    <div class="ps-3">
        <div class="card">
            <div class="card-body">
                Home page
            </div>
        </div>
    </div>
</div>

</body>
</html>